<h1 class="text text-center">QRShop_admin</h1>

<%= link_to 'Users', users_path, class: 'btn btn-primary', style: 'margin: 20px' %><br />
<%= link_to 'Goods', goods_path, class: 'btn btn-primary', style: 'margin: 20px' %>
